/bootstrap/compiled.php
/vendor
composer.phar
composer.lock
.env.*.php
.env.php
.DS_Store
Thumbs.db
/app/views/hello.php
.env.local.php

npm-debug.log
/node_modules/
!/node_modules/
!src/node_modules/